#left{position:absolute;/*top:30px;*/left:30px;width:700px;text-align:justify;}
#right{position:absolute;/*top:30px;*/left:760px;margin-right:10px;color:white;background:black;}
#right h2{text-align:center;}
#right a:visited{color:white;}
a:visited{color:black;}
#future{color:#444;}
#actual{font-weight:bold;}
#not{color:#ccc;}
#right li #future a:visited{color:#444}
#right li #future a{color:#444}

